body {          
    font-family: Arial, sans-serif; 
    background-color: #000000; 
    margin: 0; 
    padding: 0; 
    color: white;
}



 /* estilos del header */
header {      
    background-color: #000000; 
    padding: 20px; 
    text-align: center; 
    color: red;
}
nav ul { 
    list-style-type: none; 
    padding: 0; 
}
nav ul li { 
    display: inline; 
    margin: 0 15px; 
}
nav ul li a { 
    color: rgb(255, 0, 0); 
    text-decoration: none; 
    font-weight: bold;
}