body {          
    font-family: Arial, sans-serif; 
    background-color: #000000; 
    margin: 0; 
    padding: 0; 
    color: white;

    
}

#inicio {
    max-width: 2000px;
    padding: 20px;
    border-radius: 10px;
    background-size: cover;
    margin: auto;
    align-items: center;
    height: 1000px;
    margin-top: 0%;
    background-image: url(fondo2.png);
}

.lista-inicio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
 h2 {
    margin: 0;
    font-size: 24px;
    color: red;
}
.fondo {
    position: relative;
    width: 80%;
    height: 80%;
    z-index: -1;
    top: 0%;
    left: 0%;
    border-radius: 20px;
}

.info {
    margin-bottom: 20px;
}

 /* estilos del header */
header {      
    background-color: #000000; 
    padding: 20px; 
    text-align: center; 
    color: red;

}
nav ul { 
    list-style-type: none; 
    padding: 0; 
}
nav ul li { 
    display: inline; 
    margin: 0 15px; 
}
nav ul li a { 
    color: rgb(255, 0, 0); 
    text-decoration: none; 
    font-weight: bold;
}
#capitulos {
    max-width: 1700px;
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 40px;
    align-content: center;
}

.ver-capitulo {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.ver-capitulo:hover {
    background-color: darkred;
}