body {          
    font-family: Arial, sans-serif; 
    background-color: #000000; 
    margin: 0; 
    padding: 0; 
    color: white;

    
}

#inicio {
    max-width: 2000px;
    padding: 20px;
    border-radius: 10px;
    background-size: cover;
    margin: auto;
    align-items: center;
    height: 1000px;
    margin-top: 0%;
    background-image: url(princesa.png);

}



.lista-inicio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-top: 700px;
    gap: 30px;
    
}
.inicio-p {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-family: Garamond, serif;
    
}

.lista-ul {
    list-style-type: disc;
    margin-left: 20px;
    display: flex; 
    margin: 0 15px; 
    gap: 20px;
}
 .p {
    
    margin: 0;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-family: Garamond, serif;
    font-size: 80px;
}


.info {
    margin-bottom: 20px;
}

.Ver {
   
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: red;
}

 /* estilos del header */
header {      
    background-color: #000000; 
    padding: 20px; 
    text-align: center; 
    color: red;

}
nav ul { 
    list-style-type: none; 
    padding: 0; 
}
nav ul li { 
    display: inline; 
    margin: 0 15px; 
}
nav ul li a { 
    color: rgb(255, 0, 0); 
    text-decoration: none; 
    font-weight: bold;
}
#capitulos {
    max-width: 1700px;
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    align-content: center;
}

.ver-capitulo {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.ver-capitulo:hover {
    background-color: darkred;
}
.cap-h {
    font-size: 28px;
    color: white;
    margin-bottom: 10px;
    color: red;
}

#lista-personajes {
     max-width: 1700px;
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    align-content: center;
}
.personajes {
    font-size: 32px;
    color: red;
    text-align: center;
    margin-bottom: 20px;
}