body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}
header {      
    background-color: #000000; 
    padding: 20px; 
    text-align: center; 
    color: red;

}

/* .helenia {
    margin-left: 20px;
} */
nav ul { 
    list-style-type: none; 
    padding: 0; 
}
nav ul li { 
    display: inline; 
    margin: 0 15px; 
}
nav ul li a { 
    color: rgb(255, 0, 0); 
    text-decoration: none; 
    font-weight: bold;
}

h2 {
    color: #ff0000;
    font-size: 80px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    max-width: 1000px;
    align-items: center;
    border: 1px solid #ff0000;
}

.capitulo-text {
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cap-video {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

